@{
    Layout="~/_Layout.cshtml";
}

<div id="articles">
    <a href="WebGrid.cshtml">Web Grid -1</a>
    <a href="WebGrid2.cshtml">Web Grid-2</a>
    <a href="WebGrid3.cshtml">Web Grid-3</a>
    <a href="Sample.html">Sample</a>
</div>