@{
    Layout="~/_Layout.cshtml";
}
<div class="feedback">
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Mobile</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Message</td>
            <td><textarea cols="31" rows="5"></textarea></td>
        </tr>
        <tr>
            <td><input type="button" value="Submit"></td>
        </tr>
    </table>
</div>