@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Courses List</title>
        <link type="text/css" rel="stylesheet" href="~/css/StyleSheet.css">
    </head>
    <body>
        <header>
            <h1>My Favorite Courses</h1>
        </header>