@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Sample Page</title>
        <link rel="shortcut icon" href="../Images/favicon_32x32.ico"/> 
        <style type="text/css">
            body
            {
                font-family: Consolas;
                font-size: medium;
            }
            .content {
                background-color: #a3d6fc;
                width: 100%;
                top: 0px;
                position: fixed;
                left: 0px;
                /*padding: 10px;*/
                height: 100%;
                /*margin-left: -500px;*/
            }
            .logo {
                background-image: url('../Images/KPCLBanner.jpg');
                background-position: center;
                background-repeat: no-repeat;
                height: 50px;
            }
            .menubar {
                background-color: #ff6a00;
                height: 30px;
            }
            nav {
                width: 1000px;
                top: 0px;
                position: fixed;
                left: 0px;
                padding: 10px;
                margin-left: -500px;
            }
            nav ul {
                list-style: none;
                height: 50px;
            }
            li {
                float: left;
            }
            a {
                color: #fff;
                float: left;
                text-decoration: none;
                padding: 5px 18px;
            }
            .bodycontent {
                background-color: white;
                width: 1000px;
                position: fixed;
                left: 50%;
                padding: 10px;
                height: 100%;
                margin-left: -500px;
                box-shadow: inset;
            }
        </style>
    </head>
    <body>
        <div class="content">
            <div class="logo"></div>
            <div class="menubar">
                <nav>
                    <ul>
                        <li><a>Home</a></li>
                        <li><a>Articles</a></li>
                        <li><a>Tutorials</a></li>
                        <li><a>About</a></li>
                        <li><a>Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="bodycontent">
            
            </div>
        </div>
    </body>
</html>